body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
  background-image: linear-gradient(to bottom, #444, rgb(94, 22, 94),#444) ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.content{
  width: 400px;
  height: 500px;
  background-color: #4b569e;
  border-radius: 5% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-shadow: 10px 8px 10px black;
  
}
.content button{
  border-radius: 10px;
  font-size: large;
  font-weight: 500;
  border: none;
  border-bottom: 4px solid #333;
  border-right: 4px solid #333;
}
.content button:active{
  border: none;
<<<<<<< HEAD
  border-top: 4px solid #333;
  border-left: 4px solid #333;
=======
  border-top: 2px solid #222;
  border-left: 2px solid #222;
>>>>>>> 071556fbeaa411b9a4a36620ecace7791e12c3ba
}
.display{
  width: 97%;
  height:25% ;
  border: solid 2px rgba(0, 0, 0, 0.644);
  border-radius: 4px;
  background-color: #ddd;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.resultado{
  font-size: 45px;
  font-weight: 900;
  margin: 0;
  overflow: hidden;
}
.tres{
  width: 98%;
  height: calc(98% /6);
  display: flex;
  justify-content: space-around;
}
.quatro{
  width: 98%;
  height: calc(98% /6);
  display: flex;
  justify-content: space-around;
}
.white:hover{
  background-color: #bbb;
}

.btngray {
  background-color: #999;
  width: 39%;
  margin: 2px;
}
.btngray:hover{
  background-color: #666;
  color: #fff;
  transition: background-color 500ms;
}
.operadores{
  background-color: orange;
  width: 20%;
  margin: 2px;
}
.operadores:hover{
  background-color: rgba(172, 129, 49, 0.952) ;
  transition: background-color 500ms;
}

.zero{
  width: 39%;
  margin: 2px;
}
.btn{
  width: 25%;
  margin: 2px;
}

@media(max-width:768px){
  .content{
    width: 300px;
    height: 400px;
  } 
  .resultado{
    font-size: 30px;
    font-weight: 900;
  }
}
@media(max-width:425px){
  .content{
    width: 250px;
    height: 350px;
  }  
  .resultado{
    font-size: 25px;
    font-weight: 900;
  }
}
@media (max-width:320px){ 
  .content{
    width: 200px;
    height: 300px;
  }
  .resultado{
    font-size: 20px;
    font-weight: 900;
  }
}
